@model TaskDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<a class="button-back" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Task.TaskProjectId"><i class="fas fa-chevron-left"></i><span>Go back to Project</span></a>
<section class="dashboard split-window">
    <div class="window--left">
        <h3 class="three-items_item">Task: @Model.Task.TaskName</h3>
        <h5>Description:</h5>
        <div>@Model.Task.TaskDescription</div>
    </div>
    <div class="window--right">
        <ul class="information-box">
            <li>Task State: <small>@Model.Task.TaskTaskState.TaskStateName</small></li>
            <li>Assignees:</li>
            <ul>
                @foreach (Account acc in Model.Assignees)
                {
                    <li>@acc.AccountUserFirstName @acc.AccountUserLastName</li>
                }
            </ul>
        </ul>
        @await Html.PartialAsync("_CommentSection", Model.Comments)
        @await Component.InvokeAsync("CommentCreate", new {
               id = Model.Task.TaskId,
               commentOn = "Task"
            })
    </div>
</section>
