@model ProjectsPageViewModel

<h2>@Model.Company.CompanyName</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Project Name
            </th>
            <th>
                CreatedDateTime
            </th>
            <th>
                Deadline
            </th>
            <th>
                Description
            </th>
            <th>
                Active
            </th>
            <th>
                End DateTime
            </th>
            <th>
                Creator
            </th>
            <th>
                Progress
            </th>
            <th>
            </th>
        </tr>
    </thead>
    @if (Model.Projects.Count() > 0)
    {
        <tbody>
            @foreach (var item in Model.Projects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectCreatedDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectDeadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectEndDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectCreatorAccount.AccountEmail)
                    </td>
                    <td>
                        @if (item.TotalTasks != 0)
                        {
                            <span>@item.ProgressBar %</span>
                        }
                        else
                        {
                            <small>No tasks yet!</small>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit Project</a> |
                        <a asp-action="Details"
                           asp-route-id="@item.ProjectId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tr>No projects, Rest well!</tr>
    }
</table>
